fastapi>=0.115,<1
uvicorn[standard]>=0.30

pydantic>=2.7
pydantic-settings>=2.2
python-dotenv>=1.0

# Google APIs (Docs/Drive)
google-api-python-client>=2.147
google-auth>=2.41
google-auth-httplib2>=0.2
google-auth-oauthlib>=1.2
httplib2>=0.22

# Vertex
google-cloud-aiplatform>=1.70

PyPDF2

# --- Markdown parser + plugins (compatibles)
markdown-it-py==3.0.0
mdit-py-plugins==0.4.0
mdurl==0.1.2

beautifulsoup4>=4.12.2

requests>=2.31.0